@import '../../vars';
@import '../../hamburger';

:host {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 6px;
    box-sizing: border-box;
    background-color: #fafafa;
    color: #101010;
    flex-direction: column;
    transition: transform 1.6s;
    transform-origin: left;

    @media (max-width: $br-l) {
      width: 420px;
    }

    @media (max-width: $br-m) {
      width: 100%;
      position: fixed;
      z-index: 2;
      background: none;
      pointer-events: none;
    }





    &.hidden {
      transform: scaleX(0);

      .menu {
        &-title {
          transform: translateY(-30vh);
        }
      }

      .footer {
        transform: translateY(30vh);
      }
    }

    .menu {
      &-title {
        font-size: 2em;
        padding: 80px 0 0 40px;
        transition: 0.6s;
        transition-delay: 0.8s;
        transform-origin: left;

        @media (max-width: $br-m) {
          padding: 0 20px;
        }

        @media (max-width: $br-s) {
          font-size: 1.1em;
          transition-delay: 0s;
        }


        p {
          font-size: 0.8em;
          line-height: 0.2;
          text-transform: uppercase;

          @media (max-width: $br-m) {
            color: white;
            line-height: 0.7;
          }
        }

        h1 {
          font-size: 2em;
          display: block;
          font-size: 2.2em;
          font-weight: 900;
          text-transform: uppercase;
          text-indent: -20px;
          width: 100vw;
          color: $main;
          -webkit-text-stroke: 2px #121212;
          cursor: pointer;
          transition: opacity 0.4s, transform 0.4s;
          opacity: 0.5;
          transform-origin: left;

          @media (min-width: 480px) {
            font-size: calc(2.4375rem + ((1vw - 4.8px) * 9.7917));
          }

          @media (min-width: 1920px) {
            font-size: 180px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      &-back-button {
        background: none;
        border: 0;
        position: absolute;
        top: calc(50% - 30px);
        right: 0;
        height: 60px;
        width: 60px;
        transition: 0.4s;
        pointer-events: all;

        @media (max-width: $br-m) {
          right: unset;
          left: 0;

          svg {
            fill: white;
          }
        }

        &.hidden {
          transform: translateX(200%);
          pointer-events: none;
          opacity: 0;
        }

        svg {
          width: 100%;
          height: auto;
          transition: 0.3s;
        }

        &:hover {
          svg {
            filter: drop-shadow(0 0 1px black);
            fill: $main;
          }
        }
      }
    }

    .footer {
      display: flex;
      align-items: stretch;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 20px;
      transition: 0.6s;
      transition-delay: 0.8s;
      transform-origin: bottom;


      @media (max-width: $br-m) {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 3;
        box-sizing: border-box;
        background: rgba(17, 17, 17, 0.5);
      }

      @media (max-width: $br-s) {
        transform: translateY(100%);
        transition-delay: 0s;
        pointer-events: all;

        &.visible {
          transform: translateY(0);
        }
      }

      &-column {
        display: flex;
        flex-direction: column;
        justify-content: inherit;

        @media (max-width: $br-m) {
          pointer-events: all;
        }
      }

      &-title {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 0.7em;
        padding-bottom: 0.3em;
        position: relative;

        @media (max-width: $br-m) {
          color: white;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 120px;
          height: 2px;
          background: #101010;
        }
      }

      &-list {
        a {
          display: block;
          margin: 0;
          padding: 2px;
          font-size: 1.3em;
          transition: padding 0.3s, transform 0.2s;
          width: 100%;
          text-align: left;
          box-sizing: border-box;
          position: relative;
          font-family: inherit;
          cursor: pointer;
          color: #101010;
          text-decoration: none;
          transform-origin: left;

          @media (max-width: $br-m) {
            color: white;
          }

          @media (max-width: $br-s) {
            font-size: 1.1em;
          }

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.8s;
            width: 100%;
            height: 100%;
            background: $main;
            z-index: -2;
          }





          &:hover {
            /*padding-left: 10px;*/
            &:after {
              transform: scaleX(1);
            }
          }
        }

        .menu-item {
          a {
            &.active {
              transform: scale(1.4);
            }
          }
        }
      }
    }
  }
}
