<main class="main-content" [class.hidden]="entrance">
  <section class="main-section" *ngFor="let w of works.all ; index as i" [id]="w.id">
    <div [style.transform]="cursor.transformDistant"><h1 class="title" [style.transform]="'translateY('+titleTransform[i]+'px)'">{{w.title}}</h1></div>
    <img class="background" src="../../assets/{{w.bg}}" alt="{{w.bg}} icon" [style.transform]="cursor.transformClose"/>
    <button class="main-button" (click)="showWork(w.id)" [style.transform]="cursor.transformDistant"><img src="../../assets/arrow.png" /></button>
  </section>
</main>
